html {
    height: 100%;
  }
  body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(108.5deg, rgb(30, 59, 94) 4%, rgb(253, 29, 62) 49.3%, rgb(255, 224, 94) 96%);
    font-family: "Jersey 20", sans-serif;
    /* font-size: 1.1em; */ 
  }